<div class="page-header">
  <h1>Yay! <small>These are all the channels which you belong.</small></h1>
</div>

<%= link "Refresh", to: channels_path(@conn, :update), method: :put, class: "btn btn-primary", id: "channels-refresh-btn" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <%= for channel <- @channels do %>
      <tr>
        <td># <%= channel.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
